.container {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: 375px) {
    max-width: 375px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
  @media screen and (min-width: 980px) {
    max-width: 980px;
  }
}

.title {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 50px;
}

.span {
  font-weight: bold;
}

.addTripBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #f5f7f8;
  border: none;
  cursor: pointer;
}

.signIn {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 200px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.signIn:hover {
  color: white;
  width: ;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}
